div.dialoguebackground
{
position: fixed;
width: 100%;
height: 100%;
top: 0;
left: 0;
background-color: #696969;
background-color: rgba(0,0,0,0.6);
overflow: hidden;
text-align: center;
color: #000000;
overflow: hidden;
z-index: 35;
}
div.dialoguebackground div.dialogue
{
position: fixed;
left: 50%;
top: 50%;
margin-left: -150px;
margin-top: -150px;
color: #000000;
border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-border-radius: 5px;
}
.popup
{
padding: 2px;
margin: 5px auto 0px auto;
border: 6px solid #333333;
-webkit-border-radius: 5px;
-moz-border-border-radius: 5px;*/
background: #000000;
font-family: 'Trebuchet MS'; /* center it ? */
z-index: 99999;
}